{% load static %}
<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Selamat Datang di CampEdu</title>
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    </head>
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Selamat Datang di CampEdu!</h1>
                                        </div>
                                        <p class="text-center">
                                            Media Pembelajaran Interaktif
                                            <br>
                                            Klasifikasi Makhluk Hidup
                                        </p>
                                        <hr>
                                        {% if user.is_authenticated %}
                                            <p class="text-center">
                                                Anda sudah login sebagai <strong>{{ user.username }}</strong>.
                                            </p>
                                            {% if user.profile.role == 'SISWA' %}
                                                <a href="{% url 'siswa_dashboard' %}"
                                                   class="btn btn-primary btn-user btn-block">
                                                    Masuk ke Dashboard Siswa
                                                </a>
                                            {% else %}
                                                <a href="{% url 'guru_dashboard' %}"
                                                   class="btn btn-success btn-user btn-block">
                                                    Masuk ke Dashboard Guru
                                                </a>
                                            {% endif %}
                                            <a href="{% url 'logout' %}"
                                               class="btn btn-secondary btn-user btn-block">Logout</a>
                                        {% else %}
                                            <a href="{% url 'login' %}" class="btn btn-primary btn-user btn-block">Login</a>
                                            <a href="{% url 'register' %}"
                                               class="btn btn-secondary btn-user btn-block">Register</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    </body>
</html>
