{% extends 'main/base.html' %}
{% block title %}Pantau Progres Siswa{% endblock %}
{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Pantau Progres Siswa</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tabel Progres Keseluruhan</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"
                       id="dataTable"
                       width="100%"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <th>Siswa</th>
                            <th>Modul 1</th>
                            <th>Latihan 1</th>
                            <th>Glosarium</th>
                            <th>Modul 2</th>
                            <th>Latihan 2</th>
                            <th>Mikroskop</th>
                            <th>Modul 3</th>
                            <th>Database</th>
                            <th>Latihan 3</th>
                            <th>Pengayaan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_progres %}
                            <tr>
                                <td>{{ data.nama }}</td>
                                <td class="text-center {% if data.progress.modul_1_completed %}table-success{% else %}table-danger{% endif %}">
                                    {% if data.progress.modul_1_completed %}
                                        ✓
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center {% if data.progress.latihan_1_completed %}table-success{% else %}table-danger{% endif %}">
                                    {{ data.skor_1 }}
                                </td>
                                <td class="text-center {% if data.progress.glosarium_completed %}table-success{% else %}table-danger{% endif %}">
                                    {% if data.progress.glosarium_completed %}
                                        ✓
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center {% if data.progress.modul_2_completed %}table-success{% else %}table-danger{% endif %}">
                                    {% if data.progress.modul_2_completed %}
                                        ✓
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center {% if data.progress.latihan_2_completed %}table-success{% else %}table-danger{% endif %}">
                                    {{ data.skor_2 }}
                                </td>
                                <td class="text-center {% if data.progress.mikroskop_completed %}table-success{% else %}table-danger{% endif %}">
                                    {% if data.progress.mikroskop_completed %}
                                        ✓
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center {% if data.progress.modul_3_completed %}table-success{% else %}table-danger{% endif %}">
                                    {% if data.progress.modul_3_completed %}
                                        ✓
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center {% if data.progress.database_completed %}table-success{% else %}table-danger{% endif %}">
                                    {% if data.progress.database_completed %}
                                        ✓
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center {% if data.progress.latihan_3_completed %}table-success{% else %}table-danger{% endif %}">
                                    {{ data.skor_3 }}
                                </td>
                                <td class="text-center {% if data.progress.pengayaan_completed %}table-success{% else %}table-danger{% endif %}">
                                    {{ data.skor_p }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
